@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  background: #fff;
}

#root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}